<%= case @game_state do %>
<% :setup -> %>
    <p>Waiting on setup...</p>
    <%= if assigns[:name] do %>
        <p><%= @name %></p>
    <%end %>
<% :in_round -> %>
    <p>Who do you want to pick?</p>
    <p>Who do you think X choose?</p>
<% :end_round -> %>
    <p>The scores are:</p>

<% :end_game -> %>
    <p>X won!</p>

<%end %>

<%= if @show_code do %>
    Room code is: <%= @join_code %>
<% end %>