<%=if @joined do %>
<h2>You're the host!</h2>
<p>Room code: <%= @join_code %></p>

<ol>
<%=for player <- @players do %>
<li><%= player.name %>, <%= player.status %>
    <%= if player.status == :asleep do %>
        <button phx-click="kick-player" phx-value-player-id={player.id}>Kick</button>
    <% end %>
 </li>
<%end%>
</ol>


<%else %>
<h2>Room creation failed, going home in <%= @seconds %> seconds</h2>
<%end %>
